* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 50px;
  font-size: 16px;
  background-color: rgb(221, 221, 221);
  text-align: start;
}



.input-fields {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 20px;
}



input {
  width: 90%;
  margin-top: 8px;
  padding: 12px;
}

button {
  background-color: greenyellow;
  padding: 12px 36px;
  margin-bottom: 30px;
}

.phone {
  color: green
}